<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-6">
      <h1>Reviews</h1>

      <ul>
        <% @reviews.each do |review| %>
          <li>
            <%= link_to review.title, review_path(review) %>
          </li>
        <% end %>
      </ul>
      <%= link_to "New Review", new_review_path %>
    </div>
  </div>
</div>