<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <div style="color: white; font-size: 10px;">
      <span style="opacity: 20%;"><%= fa_icon('shoe-prints') %></span>
      <span style="opacity: 40%;"><%= fa_icon('shoe-prints') %></span>
      <span style="opacity: 75%;"><%= fa_icon('shoe-prints') %></span>
      <span class="ml-2"><a href="https://www.carbonfootprint.com/" target="_blank" style="color: white;">Help us to decrease carbon footprint!</a></span>
    </div>
    <div class="justify-content-end" style="color: white; font-size: 10px;"><%= fa_icon('leaf') %></div>
  </div>
</nav>